<div class="pt-5">
  <div class="card">
    <div class="card-header">
      Header
    </div>
    <div class="card-body">
      <div class="mb-3">
        <label for="" class="form-label">Usuario</label>
        <input [(ngModel)]="user.usuario" type="text" name="" id="" class="form-control" placeholder=""
          aria-describedby="helpId">
        <small id="helpId" class="text-muted">Help text</small>
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input [(ngModel)]="user.pass" type="password" name="" id="" class="form-control" placeholder="" 
          aria-describedby="helpId">
        <small id="helpId" class="text-muted">Help text</small>
    </div>
    <div class="card-footer text-muted">
      Footer
    </div>
  </div>
  <div class="d-grid gap-2">
    <div class="d-grid gap-2 col-6 mx-auto">
      <div class="card-footer text-muted">
      </div>
      <button class="btn btn-primary" type="button" (click)=login()>Ingresar</button>
    </div>
  </div>
</div>
